@charset "UTF-8";
/* CSS Document */
@font-face{
    font-family:'chakrapetch';
    src:url('../fonts/ChakraPetch-Medium.ttf') format('truetype');
    src:url('../fonts/ChakraPetch-Regular.ttf')format('truetype');
    src:url('../fonts/ChakraPetch-SemiBold.ttf')format('truetype')
}
.hidden {
    display: none;
}
body{
background-color: rgb(232, 148, 69);
}
h1,h2,h3,p{
    font-family: 'chakrapetch', Arial, Helvetica, sans-serif;
}

#container {
    margin: 20px auto;
    width: 460px;
    background: rgb(241, 218, 173);
    border-radius: 10px;
}

#mainContent {
        display: grid;
        grid-template-columns: repeat(4, 85px);
        grid-column-gap: 16px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Chakra Petch', sans-serif
}

article {
    grid-column: 1/-1;
}
article h1{
font-size: 40px;
text-align: center;
color:rgb(172, 10, 10)
}
#caption{
    font-size: 14px;
    color:rgb(122, 122, 122)
}
#caption img{
    margin-bottom: none;
    padding-bottom: none;
    background-color: rgb(255, 236, 197);
}
img {
    margin-top: 0px;
    margin-bottom: 0px;
}
